<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet"  href="{% static 'style.css' %}">    

</head>
<body>
    <header>
        {% if messages %}
        <ul></ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </header>

    <div>
        <form action="/add_show" method="POST">
            {% csrf_token %}
            
            <h1>
                Add a New Show
            </h1>
                <label >Title</label>
                <input id="title"  type="text" name="title"><br>
                <label class="label">Network</label>
                <input type="text" name="network">
                <label class="label">Release date</label>
                <input type="date" name="release"><br>
                <label>Description</label><br>
                <textarea class="text" name="desc"></textarea><br>

                
            <button id="the_butt" type="submit" >Create</button>

        </form>

    </div>






</body>
</html>