#the_butt{
    margin-left: 25%;
    margin-top: 5%;
    width: 100px;
    height: 40px;
}

.text{
    width: 900px;
    height: 100px;
}
input{
    width: 20%;
    margin-bottom: 5%;
}

div{
    margin-left: 20%;
    margin-top: 3%;
}
#title{
    width: 860px;
    height:40px
}
h1{
    margin-left: 25%;
}